.main{
display: flex;
justify-content: center; 
align-items: center;     
}
.container1 {
border-radius:8px;
width :350px;
padding: 20px;
background-color: lightblue;
text-align: center;
font-family:Arial,sans-serif;
}
.container2 {
border-radius:8px;
width :350px;
padding: 20px;
background-color: red;
text-align: center;
font-family: Arial, sans-serif;
}
.container3 {
border-radius:8px;
width :350px;
padding: 20px;
background-color: yellow;
text-align: center;
font-family: Arial, sans-serif;
}
.header {
font-size: 24px;
font-weight: bold;
margin-bottom: 15px;
color: Black;
}
.content {
font-size: 16px;
color: #333;
margin-bottom: 15px;
}
img {
max-width: 100%;
height: 100;
border-radius: 8px;
}
h1 {
color: navy;
font-size: 36px;
font-family: Arial, sans-serif;
text-align: center;
}

